*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#eclipse
.metadata*
.metadata/.plugins*
.metadata/.log
*.metadata/.log
.metadata/*
./.metadata/.log
/cygdrive/c/MyWork/.metadata*

./.gitignore


PRICELINE/doc/*

SHOWTIME/.settings*

NOBLE/javatest/classes

PROJECTS/springexample/target

PROJECTS/RemoteSystemsTempFiles/


